.b-layout {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 240px 1fr;

  &__sidebar {
    min-height: 100vh;
    background: {
      //color: darken(flexy-color(), 10%);
      color: #34495e;
    }
    color: #fff;
    padding: .5rem;
  }

  &__content {
  }
}
