.b-settings-detail {
  &__item {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 32px 1fr;
    grid-gap: 1rem;
  }

  &__value {
  }

  &__icon {
    width: 32px;
    height: 32px;
  }

  &__img {
    margin-bottom: 1rem;
  }
}